* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient( #141e30 0%, #243b55 100%) center / cover no-repeat;
}

.box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: rgba(0, 0, 0, .5);
    padding: 6% 4%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0;
}

.navbar-nav {
    max-height: 200px;
    display: block;
    overflow-y: scroll;
}

.navbar h3,
.navbar a i {
    color: #03e9f4;
    text-transform: uppercase;
    letter-spacing: 4px;
}

li {
    opacity: 0.8;
    transition: ease-in-out .3s;
    padding: 3%;
    list-style: none;
    background: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}

li:hover {
    opacity: 1;
}

li a {
    color: white;
    transition: ease-in-out .5s;
}

li a:hover {
    text-decoration: none;
    color: #330867;
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 30px white, 0 0 70px white;
}

li:first-child {
    border-radius: 10px 10px 0 0;
}

li:last-child {
    border-radius: 0 0 10px 10px;
}

li:nth-child(even) {
    background: whitesmoke;
    color: black;
}

li:nth-child(even) a {
    color: black;
}

li:nth-child(even) a:hover {
    color: white;
    text-shadow: 0 0 5px black, 0 0 25px black, 0 0 50px black, 0 0 100px black;
}

.btn {
    padding: 2%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: ease-in-out .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.btn:hover {
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}